<div class="container signupformcontainer">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-12">

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="card shadow-sm">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Registration</h2>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa-solid fa-at"></i></span>
                </div>
                <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email", class: "form-control", placeholder: ("Enter your email") %>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                </div>
                <%= f.password_field :password, required: true, autocomplete: "new-password", class: "form-control", placeholder: ("Password") %>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                </div>
                <%= f.password_field :password_confirmation, required: true, autocomplete: "new-password", class: "form-control", placeholder: ("Confirm your password") %>
              </div>
            </div>

            <div class="form-group mb-4">
              <%= f.label :vet, "Sign-up as Professional Vet?", class: 'form-check-label mb-2' %>
              <br>
              <div class="form-check form-check-inline">
                <%= f.radio_button :vet, true, id: "vet-yes", class: 'form-check-input' %>
                <%= f.label :vet_yes, "Yes", class: 'form-check-label mr-3' %>
              </div>
              <div class="form-check form-check-inline">
                <%= f.radio_button :vet, false, checked: true, id: "vet-no", class: 'form-check-input' %>
                <%= f.label :vet_no, "No", class: 'form-check-label' %>
              </div>
            </div>

            <div class="form-group text-center">
              <%= f.button :submit, "Submit", class: "btn btn-primary btn-block submitfbtn" %>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
