<div class="pb-5">
  <div class="container">
    <div class="row justify-content-center pt-3">
      <div class="col-12 col-lg-8 text-center">
        <h2 class="text-success"> <strong> Welcome back, Michaela </strong></h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6 d-none">
        <div class="inline-button mt-3" id="join-call">
          <i class="fa-solid fa-phone icon-button"></i>
          <p> Join call </p>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="inline-button mt-3">
          <i class="fa-solid fa-calendar-check icon-button"></i>
          <p> Appointments </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-between pt-3">
      <div class="col-10 col-lg-7 text-left mt-3">
        <h4> Trending topics <%= link_to categories_path do %>
            <%= content_tag(:i, '', class: 'fa-solid fa-chevron-right') %>
          <% end %>
      </div>
    </div>
    <% Category.all.each do |category| %>
      <% @post = category.posts.all.sample %>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8 text-left mt-3">
            <% if @post.category.title == "General"%>
              <% image = "GENERAL.png" %>
            <% elsif @post.category.title == "Health Concerns" %>
              <% image = "HEALTH CONCERNS.png" %>
            <% elsif @post.category.title == "Behavior and Training" %>
              <% image = "BEHAVIOURS & TRAINING.png" %>
            <% elsif @post.category.title == "Nutrition and Diet"%>
              <% image = "NUTRITION AND DIET.png" %>
            <% elsif @post.category.title == "Emergency Care" %>
              <% image = "EMERGENCY CARE.png" %>
            <% elsif @post.category.title == "Senior Pet Care" %>
              <% image = "SENIOR PET CARE.png" %>
            <% elsif @post.category.title == "Community" %>
              <% image = "COMMUNITY.png" %>
            <% else %>
              <% image = "cute-cat.png" %>
            <% end %>
            <a href="<%= post_path(@post) %>" class="text-decoration-none inline-card">
              <%= image_tag image,{ alt:"Picture that describes discussion theme", class:"image-card"} %>
              <p class="text-black"><%= truncate("#{@post.content}", length: 70) %></p>
            </a>
        </div>
      </div>
    <% end %>
  </div>
</div>
