<div class="bg-white">
  <div class="container">
    <div class="row pt-2 pb-2 border-bottom">
      <div class="col-sm-12 ">
        <div class="sticky-top sticky-bar">
          <%= link_to dashboard_path do %>
            <%= image_tag "best-vet-logo.png", alt: "Best Vet Logo", class: "mx-auto d-block", width: "200px" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-success p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="text-white">Your Trusted Online Veterinary Clinic</h1>
          <p class="text-white small mt-1">
            Welcome to our Online Veterinary Clinic!
            Our experienced veterinarians offer quality care and support for your pets from your home.
            Schedule a call today.
            </p>
        </div>
        <div class="p-3  col-sm-12 bg-white text-center col-md-6 round">
          <h5><strong>Need assistance?</strong></h5>
          <%= link_to "I need an emergency call", dashboard_path, class: 'btn btn-round btn-success btn-blocked mt-3' %>
          <%= link_to "Schedule a call", dashboard_path, class: 'btn btn-outline-success btn-blocked mt-3' %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="p-4 col-sm-12 col-lg-4">
        <h2 class="display-5">
          <i class="fa-solid fa-briefcase-medical text-success"></i>
          <strong class="ms-2">Trusted vets</strong>
        </h2>
        <p class="text-muted small">
          Trust our experienced vets for compassionate care & support. From routine check-ups to urgent treatment, we prioritize your pet's well-being.
        </p>
        <%= link_to "Get help", dashboard_path, class: 'text-success small text-decoration-none' %>
      </div>

      <div class="p-4 col-sm-12 col-lg-4">
        <h2 class="display-5">
          <i class="fa-solid fa-message text-success"></i>
          <strong class="ms-2">Forum</strong>
        </h2>
        <p class="text-muted small">
        Join our vet forum for expert advice on pet nutrition, behavior, & health concerns. Get personalized answers from experienced vets and pet owners.
        </p>
        <%= link_to "Ask a question", categories_path, class: 'text-success small text-decoration-none' %>
      </div>

      <div class="p-4 col-sm-12 col-lg-4">
        <h2 class="display-5">
          <i class="fa-solid fa-shield-dog text-success"></i>
          <strong class="ms-2">Save records</strong>
        </h2>
        <p class="text-muted small">
        Simplify pet health management with our centralized record system. Store all medical info securely in one place for easy access anytime.
        </p>
        <%= link_to "Start now", pet_profiles_path, class: 'text-success small text-decoration-none' %>
      </div>
    </div>
  </div>
</div>
<div class="bg-success">
  <div class="container">
    <footer class="py-3">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item "><a class="nav-link text-white" href="/">Home</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="/">FAQs</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="/">About us</a></li>
    </ul>
    <p class="text-center text-white">© 2024 Best-vet</p>
    </footer>
  </div>
</div>
