<div class="bg-white">
  <div class="container">
    <div class="row pt-2 pb-2 border-bottom">
      <div class="col-sm-12 ">
        <div class="sticky-top sticky-bar">
          <%= link_to dashboard_path do %>
            <%= image_tag "best-vet-logo.png", alt: "Best Vet Logo", class: "mx-auto d-block", width: "200px" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-success p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="text-white">Your Trusted Online Veterinary Clinic</h1>
          <p class="text-white small mt-1">
            Welcome to our Online Veterinary Clinic!
            Our experienced veterinarians offer quality care and support for your pets from your home.
            Schedule a call today.
            </p>
        </div>
        <div class="p-3  col-sm-12 bg-white text-center col-md-6 round">
          <h5><strong>Need assistance?</strong></h5>
          <%= link_to "I need an emergency call", dashboard_path, class: 'btn btn-round btn-success btn-blocked mt-3' %>
          <%= link_to "Schedule a call", dashboard_path, class: 'btn btn-outline-success btn-blocked mt-3' %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="p-4 col-sm-12 col-lg-4">
        <h2 class="display-5">
          <i class="fa-solid fa-briefcase-medical text-success"></i>
          <strong class="ms-2">Trusted vets</strong>
        </h2>
        <p class="text-muted small">
          At our online clinic, your pets receive compassionate care from seasoned veterinarians who prioritize their well-being
          above all else. Count on us for general care and urgent treatment, ensuring your beloved
          companions receive the attention they deserve.
        </p>
        <%= link_to "Get help", dashboard_path, class: 'btn btn-success btn-blocked' %>
      </div>

      <div class="p-4 col-sm-12 col-lg-4">
        <h2 class="display-5">
          <i class="fa-solid fa-message text-success"></i>
          <strong class="ms-2">Forum</strong>
        </h2>
        <p class="text-muted small">
          Our veterinary forum connects pet owners with experienced vets for expert advice on nutrition, behavior, and medical concerns.
          Get personalized answers tailored to your pet's needs from verified professionals.
          </p>
        <%= link_to "Ask a question", categories_path, class: 'btn btn-success btn-blocked' %>
      </div>

      <div class="p-4 col-sm-12 col-lg-4 mb-3">
        <h2 class="display-5">
          <i class="fa-solid fa-shield-dog text-success"></i>
          <strong class="ms-2">Save records</strong>
        </h2>
        <p class="text-muted small">
          Our clinic provides a solution for managing your pet's health records. Our centralized
          system securely stores all important medical information, including vaccination records, medication history,
          and vet visit summaries, for easy access whenever you need it.
        </p>
        <%= link_to "Start now", pet_profiles_path, class: 'btn btn-success btn-blocked' %>
      </div>
    </div>
  </div>
</div>
<div class="bg-success">
  <div class="container">
    <footer class="py-3">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item "><a class="nav-link text-white" href="/">Home</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="/">FAQs</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="/">About us</a></li>
    </ul>
    <p class="text-center text-white">© 2024 Best-vet</p>
    </footer>
  </div>
</div>
