<div class="container">
  <h1 class="text-center mt-5 mb-4">Create User Profile</h1>

  <%= form_with(model: @user_profile, url: user_profiles_path, method: :post, html: { class: "mb-5", autocomplete: "on" }) do |form| %>
    <div class="mb-3">
      <%= form.label :first_name, class: "form-label" %>
      <%= form.text_field :first_name, class: "form-control", autocomplete: "given-name" %>
    </div>

    <div class="mb-3">
      <%= form.label :last_name, class: "form-label" %>
      <%= form.text_field :last_name, class: "form-control", autocomplete: "family-name" %>
    </div>

    <div class="mb-3">
      <%= form.label :address, class: "form-label" %>
      <%= form.text_field :address, class: "form-control", autocomplete: "street-address" %>
    </div>

    <div class="mb-3">
      <%= form.label :description, class: "form-label" %>
      <%= form.text_field :description, class: "form-control", autocomplete: "off" %>
    </div>

    <div class="mb-3">
      <%= form.label :membership, class: "form-label" %>
      <%= form.number_field :membership, class: "form-control", autocomplete: "off" %>
    </div>

    <div class="mb-3">
      <%= form.label :location, class: "form-label" %>
      <%= form.text_field :location, class: "form-control", autocomplete: "off" %>
    </div>

    <div class="mb-3">
      <%= form.label :city, class: "form-label" %>
      <%= form.text_field :city, class: "form-control", autocomplete: "address-level2" %>
    </div>

    <div class="mb-3">
      <%= form.label :phone_number, class: "form-label" %>
      <%= form.text_field :phone_number, class: "form-control", autocomplete: "tel" %>
    </div>

    <div class="mb-3">
      <%= form.label :state, class: "form-label" %>
      <%= form.text_field :state, class: "form-control", autocomplete: "address-level1" %>
    </div>

    <div class="mb-3">
      <%= form.label :zip_code, class: "form-label" %>
      <%= form.text_field :zip_code, class: "form-control", autocomplete: "postal-code" %>
    </div>

    <% if current_user.vet? %>
      <div class="mb-3">
        <%= form.label :licence_number, class: "form-label" %>
        <%= form.text_field :licence_number, class: "form-control", autocomplete: "off" %>
      </div>
    <% end %>

    <%= form.submit "Create Profile", class: "btn btn-primary btn-lg btn-block" %>
  <% end %>

</div>
