<div class="bg-white pb-5">
  <div class="container pt-3 pe-3 ps-3">
    <div class="user-profile-card">
      <%= image_tag "https://source.unsplash.com/random/?user",{ alt:"Picture that describes user", class:"image-card"} %>
      <div class="user-profile-card-information">
          <h4>User Profile</h4>
      </div>
      <% if current_user == @user_profile.user %>
        <div class="d-flex edit-delete">
          <%= link_to edit_user_profile_path(@user_profile), class: "btn btn-primary" do %>
            Edit Profile
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="filter-card">
      <div class="filter-button">
        <div class="circle-item pressed">
          <i class="fa-solid fa-address-card"></i>
        </div>
        <p> Information </p>
      </div>
    </div>
    <div class="filtered-information-card">
      <ul class="list-group">
        <li class="list-group-item">
          <strong>First Name:</strong> <%= @user_profile.first_name %>
        </li>
        <li class="list-group-item">
          <strong>Last Name:</strong> <%= @user_profile.last_name %>
        </li>
        <li class="list-group-item">
          <strong>Address:</strong> <%= @user_profile.address %>
        </li>
        <li class="list-group-item">
          <strong>Description:</strong> <%= @user_profile.description %>
        </li>
        <li class="list-group-item">
          <strong>Membership:</strong> <%= @user_profile.membership %>
        </li>
        <li class="list-group-item">
          <strong>Location:</strong> <%= @user_profile.location %>
        </li>
        <li class="list-group-item">
          <strong>City:</strong> <%= @user_profile.city %>
        </li>
        <li class="list-group-item">
          <strong>Phone Number:</strong> <%= @user_profile.phone_number %>
        </li>
        <li class="list-group-item">
          <strong>State:</strong> <%= @user_profile.state %>
        </li>
        <li class="list-group-item">
          <strong>Zip Code:</strong> <%= @user_profile.zip_code %>
        </li>
        <% if current_user.vet? %>
          <li class="list-group-item">
            <strong>License Number:</strong> <%= @user_profile.licence_number %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
