<div class="bg-light" >
  <div class="container pt-3">
    <div class="row">
      <div class="text-center">
        <div class="d-flex justify-content-center mt-3">
          <%= cl_image_tag @post.category.photo.key,{ alt:"Picture that describes discussion theme", class:"image-forum"} %>
        </div>
        <h2 class="text-success"><strong><%= @post.category.title %></strong></h2>
        <h6 class="text-muted mb-3"><%= @post.category.description %></h6>
        <%= simple_form_for :search, url: category_path(@post.category), method: :get do |f| %>
          <div class="search-form-control form-group pb-3">
            <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Search"/>
            <button name="button" type="submit" class="btn btn-flat">
              <i class="fas fa-search"></i>
            </button>
          </div>
        <% end %>
        <%= link_to "Ask a question", new_post_path, class: 'btn btn-round btn-success mt-2 mb-3' %>
      </div>
    </div>
  </div>
</div>
<div class="bg-white pb-5">
  <div class="container pt-3">
    <div class="row" data-controller="reply-form">
      <ul class="d-inline-flex text-muted border-bottom pb-2 mb-5">
        <li class="list-group-item bg-white"><%= link_to "Forum", categories_path, class: "inline-list-item" %></li>
        <li class="list-group-item bg-white mx-2"> </li>
        <li class="list-group-item bg-white">></li>
        <li class="list-group-item bg-white mx-2"> </li>
        <li class="list-group-item bg-white"><%= link_to "#{@post.category.title}", category_path(@post.category), class: "inline-list-item" %></li>
        <li class="list-group-item bg-white mx-2"> </li>
        <li class="list-group-item bg-white">></li>
        <li class="list-group-item bg-white mx-2"> </li>
        <li class="list-group-item bg-white"><%= @post.title %></li>
      </ul>

      <p class="display-5"> <%= @post.title  %></p>


      <div class="d-flex mt-2 mb-1">
        <div class="pb-5">
          <% if @user_profile.present? %>
            <%= link_to user_profile_path(@post.user.user_profile.id) do %>
              <%= cl_image_tag @user_profile.photo.key, { alt: "Picture that describes user", class: "avatar" } %>
            <% end %>
          <% else %>
                <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png", class: "avatar" %>
          <% end %>
        </div>
        <div class="mx-3 ">
           <h6 class="text-success mb-0">
             <% if @post.user.user_profile.present? && @post.user.user_profile.first_name.present? %>
               <%= @post.user.user_profile.first_name %>
             <% else %>
               <%= @post.user.email %>
             <% end %>
            </h6>
          <p class="text-muted mb-0"><small><%= time_ago_in_words(@post.created_at) %> ago</small></p>
          <i class="fa-solid fa-reply text-success "></i>
          <span class="text-muted"><%= @post.replies.size %></span>

          <% if current_user == @post.user %>
            <%= link_to raw("<small><i class='fa-solid fa-trash-can text-success mx-2'></i></small>"), post_path(@post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
          <% end %>
        </div>
      </div>


      <div class="mb-2 pb-4 border-bottom">
        <p><%= @post.content %></p>
        <div class="d-flex justify-content-end">
          <%= link_to "Reply", "#", class: 'btn btn-success mt-2 mb-3', data: { action: 'click->reply-form#toggleForm' } %>
        </div>

      </div>

      <div data-reply-form-target="form" class="d-none pb-4 mb-3 border-bottom">
        <%= simple_form_for [@post, @reply], html: {  } do |form| %>
          <%= form.input :content, label: "Replying to <span class='text-success'><strong>#{@post.title}</strong></span>".html_safe, input_html: { class: 'form-control bg-white' } %>
          <%= form.hidden_field :post_id, value: @post.id %>
          <%= form.button :submit, class: 'btn btn-success' %>
        <% end %>
      </div>

      <div class="pb-5">
        <% @post.replies.each do |reply| %>
          <div class="post">
            <% if reply.user.user_profile.present? %>
              <%= link_to user_profile_path(reply.user.user_profile.id) do %>
                <%= cl_image_tag reply.user.user_profile.photo.key, { alt: "Picture that describes user", class: "avatar" } %>
              <% end %>
            <% else %>
              <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png", class: "avatar" %>
            <% end %>
            <div class="post-content">
              <h6 class="text-success mb-0">
                <% if reply.user.vet? %>
                  <i class="fas fa-user-md text-info vet-icon"></i>
                  <span>Dr. <%= reply.user.user_profile.first_name %> <%= reply.user.user_profile.last_name %></span>
                <% else %>
                  <%= reply.user.user_profile.first_name %>
                <% end %>
              </h6>
              <p><%= reply.content %></p>
              <p class="text-muted mb-0"><small><%= time_ago_in_words(reply.created_at) %> ago</small></p>
            </div>
          </div>
        <% end %>
      </div>

  </div>
</div>
