<div data-controller="available-vets">
  <%= simple_form_for(@appointment, data: { available_vets_target: "form", action: "submit->available-vets#send" }, html: { class: "form-horizontal ", id: "appointment-form" }) do |f| %>
    <div class="form-group">
      <div class="col-sm-12">
        <%= f.input :appointment_date, as: :string, input_html: { data: { controller: "datepicker", 'available-vets-target': "date", action: "change->available-vets#update" }, class: "bg-white form-control" } %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <%= f.input :appointment_time, as: :string, input_html: { data: { controller: "timepicker", 'available-vets-target': "time", action: "change->available-vets#update" }, class: "bg-white form-control" } %>
      </div>
    </div>

    <div class="form-group" data-available-vets-target="items">
      <div class="col-sm-12">
        <%= f.hidden_field :user_id, id: "selected-vet-id" %> <!-- Hidden input field for the selected vet ID -->
        <div id="vet-list"></div> <!-- Container for vet divs -->
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <%= f.input :description_of_problem, placeholder: "Tell us about your problem....", input_html: { class: "form-control bg-white" } %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <%= f.collection_select :pet_profile_id, current_user.pet_profiles, :id, :name, { prompt: "Select your pet" }, { class: "bg-white form-control" } %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-0 col-sm-12">
        <%= f.button :submit, "Request Appointment", class: "btn btn-success btn-block" %>
      </div>
    </div>
  <% end %>
</div>
