<%= simple_form_for(@appointment, html: { class: "form-horizontal" }) do |f| %>
  <div class="form-group">
    <div class="col-sm-12">
      <%= f.input :appointment_date, as: :string, input_html: { data: { controller: "datepicker" }, class: "form-control", label: ""} %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <%= f.input :appointment_time, as: :string, input_html: { data: { controller: "timepicker" }, class: "form-control" } %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <%= f.input :description_of_problem, class: "form-control", placeholder: "Tell us about your problem...." %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <%= f.collection_select :pet_profile_id, current_user.pet_profiles, :id, :name, { prompt: "Select your pet" }, { class: "form-control" } %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <%= f.collection_select :user_id, User.where(vet: true), :id, :email, { prompt: "Select a Vet" }, { class: "form-control" } %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-0 col-sm-12">
      <%= f.button :submit, "Request Appointment", class: "btn btn-success btn-block" %>
    </div>
  </div>
<% end %>
