<div class="container-fluid custom-appointments">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-md-8">
      <div class="card" style="border-radius: 25px;">
        <div class="card-header" style="background-color: transparent; display: flex; justify-content: space-between;">
          <%= link_to appointments_path, class: "btn btn-primary btnbackappointment" do %>
            <i class="fas fa-arrow-left"></i>
          <% end %>
          <% if current_user.vet? %>
            <%= link_to edit_appointment_path(@appointment), class: "btn btn-secondary btnbackappointment", title: "Edit Appointment" do %>
              <i class="fas fa-edit"></i> Edit Consultation
            <% end %>
          <% end %>
        </div>
        <div class="card-body" style="overflow-y: auto; max-height: 500px;">
          <div class="row">
            <div class="col-md-12">
              <div class="text-center">
                <h1><i class="fas fa-paw pawappointment"></i> Consultation for <span style="color: #2E6E62; font-weight: bold;"><%= @appointment.pet_profile.name %></span></h1>
                <%# <div class="d-flex justify-content-center">
                  <%= cl_image_tag @appointment.pet_profile.photo.key, class: "avatar-img rounded-circle border", alt: "Owner's photo", width: 70, height: 65, crop: :thumb, gravity: :face %>
                </div>
              </div>
              <br>
              <br>
              <p><i class="fas fa-file-medical medicalicon fa-beat" style="--fa-animation-duration: 3s;"></i> Reference Number: <%= @appointment.id %></p>
              <p><%= content_tag :i, "", class: "fa-regular fa-calendar" %> <%= @appointment.appointment_date.strftime("%B %d, %Y") %></p>
              <p><strong><%= content_tag :i, "", class: "fa-solid fa-clock" %> </strong> <%= @appointment.appointment_time.strftime("%I:%M %p") %></p>
              <% icon_class = case @appointment.status.to_sym
                when :pending
                  ["fa-solid fa-cog fa-spin", "animation-duration: 15s;"] # Default black
                when :accepted
                  "fa-solid fa-check-circle text-success" # Green
                when :declined
                  "fa-solid fa-times-circle text-danger" # Red
                when :confirmed
                  "fa-solid fa-check-double" # Confirmed icon
                else
                  "fa-solid fa-question-circle" # Default if status is not recognized
              end %>

              <p><strong><%= content_tag :i, "", class: icon_class %></strong> <%= @appointment.status.capitalize %></p>
            </div>

            <div class="col-md-12">
              <% full_name = full_name(@appointment) %>
              <% if current_user.vet? && (@appointment.pending? || @appointment.accepted?) %>
                <div class="owner-details box-shadow">
                    <%= link_to user_profile_path(@appointment.pet_profile.user.user_profile), class: "avatar-link" do %>
                      <%= cl_image_tag @appointment.pet_profile.user.user_profile.photo.key, class: "avatar-img rounded-circle border", alt: "Owner's photo", width: 80, height: 75, crop: :thumb, gravity: :face %>
                    <% end %>
                  <div class="owner-about">
                    <p><%= @appointment.pet_profile.user.full_name %> pet owner of <span style="color: #2E6E62; font-weight: bold;"><%= @appointment.pet_profile.name %></span></p>
                  </div>
                </div>
              <% else %>
              <div class="vet-details box-shadow">
                <!-- Display vet's profile picture -->
                <%= link_to user_profile_path(@appointment.user_profile), class: "avatar-link" do %>
                  <%= cl_image_tag @appointment.user_profile.photo.key, class: "avatar-img rounded-circle border", alt: "Vet's photo", width: 80, height: 75, crop: :thumb, gravity: :face %>
                <% end %>
                <div class="vet-about">
                <!-- Display vet's name -->
                <p><span style="color: #2E6E62; font-weight: bold;">Dr. <%= full_name %></span></p>
                <p><%= @appointment.description %></p>
                <!-- Display link to see vet's licence number -->
                <div data-controller="toggleappointments" data-licence-number="<%= @appointment.licence_number %>">
                  <%= link_to "", data: { action: "click->toggleappointments#fire" }, class: "license-toggle", title: "Click to see licence", style: "text-decoration: none;" do %>
                    <i class="fas fa-eye"></i> See Vet Licence Number
                  <% end %>
                  <!-- Hidden div to display vet's licence number -->
                  <div data-toggleappointments-target="toggleableElement" class="d-none">
                    <p><span data-toggleappointments-target="toggleableText" class=""></span></p>
                  </div>
                </div>
                </div>
              </div>
              <% end %> <!-- Closing if statement -->
            </div>
              <div class="mt-4 box-shadow problem-pet">
                <p class="fw-bold">What happened to the Pet?</p>
                <p><%= @appointment.description_of_problem %></p>
              </div>

              <% if @appointment.accepted? %>
                <%= link_to videocall_appointment_path(@appointment), class: "btn btn-success btn-blocked mt-3" do %>
                  <i class="fas fa-phone-alt"></i> Join Call
                <% end %>
              <% end %>

              <% if current_user.vet? %>
                  <%= link_to "Delete Appointment", appointment_path(@appointment), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger btn-blocked mt-3 text-white", id: "btndelete" %>
              <% elsif @appointment.appointment_date < Date.today || (@appointment.appointment_date == Date.today && @appointment.appointment_time < Time.now) %>
                  <%= link_to "Leave a Review" , new_appointment_review_path(@appointment), class: "btn btn-success mt-3 btn-blocked", id: "btn-blocked", style:"background-color: #C36E5F;"%>
              <% end %>
            </div> <!-- Closing col-md-12 -->
          </div> <!-- Closing row -->
        </div> <!-- Closing card-body -->
      </div> <!-- Closing card -->
    </div> <!-- Closing col-md-8 -->
  </div> <!-- Closing row justify-content-center -->
</div> <!-- Closing container -->
