<div class="bg-light">
  <div class="container pt-3">
    <div class="row">
      <div class="text-center">
        <h2 class="text-success"><strong>Best Vet Forum</strong></h2>
        <h6 class="text-muted mb-3">Welcome to the Veterinary Forum</h6>
        <%= simple_form_for :search, url: categories_path, method: :get do |f| %>
          <div class="search-form-control form-group pb-3">
            <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Search"/>
            <button name="button" type="submit" class="btn btn-flat">
              <i class="fas fa-search"></i>
            </button>
          </div>
        <% end %>
        <%= link_to "Ask a question", new_post_path, class: 'btn btn-round btn-success mt-2 mb-3' %>
      </div>
    </div>
  </div>
</div>
<div class="bg-white py-5 ">
  <div class="container">
    <div class="row px-2">
      <% @categories.each do |category| %>
        <div class="col-lg-3 col-sm-12 mb-4">
          <a href="<%= category_path(category) %>" class="card-link">
            <div class="card bg-white link-border">
              <div class="card-body">
                <div class="card-title">
                  <% if category.title == "General"%>
                    <% image = "GENERAL.png" %>
                  <% elsif category.title == "Health Concerns" %>
                    <% image = "HEALTH CONCERNS.png" %>
                  <% elsif category.title == "Behavior and Training" %>
                    <% image = "BEHAVIOURS & TRAINING.png" %>
                  <% elsif category.title == "Nutrition and Diet"%>
                    <% image = "NUTRITION AND DIET.png" %>
                  <% elsif category.title == "Emergency Care" %>
                    <% image = "EMERGENCY CARE.png" %>
                  <% elsif category.title == "Senior Pet Care" %>
                    <% image = "SENIOR PET CARE.png" %>
                  <% elsif category.title == "Community" %>
                    <% image = "COMMUNITY.png" %>
                  <% else %>
                    <% image = "cute-cat.png" %>
                  <% end %>
                  <%= image_tag image,{ alt:"Picture that describes discussion theme", class:"image-forum"} %>
                  <h4 class="text-success header4"><%= category.title %></h4>
                </div>
                <p><%= category.description %></p>
              </div>
              <div class="card-body d-flex justify-content-between">
                <div>
                  <i class="fa-solid fa-list text-muted"></i>
                  <span><%= category.posts.size %></span>
                </div>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
