<h1>Leave a Review for <%= @appointment.user.first_name %></h1>

<%= form_for [@appointment, @review] do |form| %>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, rows: 4 %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating, in: 1..5 %>
  </div>

  <%= form.submit 'Submit Review' %>
<% end %>
