<!DOCTYPE html>
<html>
  <head>
    <title>BestVet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= javascript_importmap_tags %>

  </head>

  <body class="bg-white">
    <% unless params[:controller] == 'pages' && params[:action] == 'home' %>
      <%= render 'shared/navbar' %>
    <% end %>

    <%= render "shared/flashes" %>

    <%= yield %>

    <% unless params[:controller] == 'pages' && params[:action] == 'home' %>
      <%= render "shared/footer" %>
    <% end %>
  </body>
</html>
